body 
{
	font-family: sans-serif;
	font-size: 1.05em;
	margin: 0px;
	background-color: #FFF;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
}

@media screen and (max-width: 720px)
{
	body
	{
		font-size: 0.93em;
	}
}

li
{
	margin-top: 5px;
}

code
{
	white-space: pre;
}

.header 
{
	display: block;
	min-height: 40px;
	width: auto;
	height: auto;
	border-bottom: 1px solid #B2B2B2;
	margin-bottom: 10px;
	margin-top: 0px;
	background-color: #4C4C4C;
	text-align: center;
	margin: auto;
	text-justify: none;
}

img
{
	max-width: 95%;
	height: auto;
}

video
{
	max-width: 95%;
	height: auto;
}

iframe
{
	max-width: 95%;
}

img.cap
{
	height: 300px;
	width: auto;
}

.center_img
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.code_img
{
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.img_box
{
	max-width: 95%;
	height: auto;
}

.img_box_border
{
	border: 2px solid #000000;
	max-width: 95%;
	height: auto;
}

.center_code
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #E0E0E0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.center_code_top
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #E0E0E0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}

.center_code_bottom
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #E0E0E0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.code_left
{
	text-indent: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

.img_border
{
	border: 2px solid #000000;
}

.space_img
{
	margin-right: 5px;
	margin-left: 5px;
}

.img_caption
{
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 0.97em;
	text-align: center;
}

.img_caption_multi
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.97em;
	text-align: center;
}

.header_right
{
	margin-right: 5%;
	margin-top: 12px;
	display: inline;
	margin: auto;
	min-width: 10%;
	text-align: center;
	word-spacing: 40px;
}

.header_text
{
	font-size: 1.375em;
	color: #0FACEF;
	padding-top: 10px;
	letter-spacing: 5px;
	margin-left: 20px;
}

.header_link
{
	font-size: 1.125em;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	display: inline;
}

.header_link:hover
{
	font-size: 1.125em;
	font-weight: bold;
	color: #0FACEF;
	text-decoration: none;
	display: inline;
}

.header_link_current
{
	font-size: 1.125em;
	font-weight: bold;
	color: #0FACEF;
	text-decoration: none;
	display: inline;
}

.box_inner
{
	width: 97.5%;
	margin: auto;
	margin-top: 11px;
	margin-bottom: 11px;
	background-color: #FFF;
	border: 1px #808080 solid;
}

.box_outer
{
	width: 75%;
	border: 1px #808080 solid;
	background-color: #D7D7D7;
	margin: auto;
	margin-top: 30px;
}

@media screen and (max-width: 720px)
{
	.box_outer
	{
		width: 95%;
	}
}

.inner_text
{
	text-indent: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.inner_sub_text
{
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.inner_no_gap
{
	text-indent: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
}

.list_text
{
	text-indent: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.list_text_a
{
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.list_text_b
{
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.list_text_c
{
	text-indent: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.inner_text_large
{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1.125em;
	padding: 4px;
	padding-left: 1em;
	padding-right: 1em;
	display: block;
	background-color: #D0D0D0;
	color: #0996E7;
}

.inner_text_sub
{
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
}

.center_headline
{
	height: 1.25;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 5px;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 0px;
	color: #0FACEF;
}

.headline_underline
{
	width: 250px;
	text-align: center;
	font-size: 1.25em;
	letter-spacing: 3px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 7px;
	color: #0FACEF;
	position: relative;
	top: -10px;
}

.highlight_gray
{
	border-style: dotted;
	border-color: #000000;
	border-width: 2px;
	background-color: #D0D0D0;
	padding: 3px;
	font-size: 1.5em;
}

.highlight_med_gray
{
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	background-color: #D0D0D0;
	padding: 3px;
	font-size: 1.5em;
}

.highlight_hor_gray
{
	background-color: #D0D0D0;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 1.5em;
}

.code
{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px #808080 solid;
	background-color: #D0D0D0;
	padding: 5px;
	font-size: 1.5em;
}

blockquote
{
	border: 1px #808080 solid;
	background-color: #D0D0D0;
	padding: 5px;
}

.game_title
{
	font-style: italic;
}

.strike
{
	text-decoration: line-through;
}

.no
{
	color: #4C4C4C;	
}
