body 
{
	font-family: "times new roman", serif, verdana;
	font-size: 18px;
	margin: 0px;
	background-color: #FFF;
} 

li
{
	margin-top: 5px;
}

code
{
	white-space: pre;
}

.header 
{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #B2B2B2;
	margin-bottom: 10px;
	margin-top: 0px;
	background-color: #4C4C4C;
} 

.center_img
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.img_border
{
	border: 2px solid #000000;
}

.space_img
{
	margin-right: 5px;
	margin-left: 5px;
}

.img_caption
{
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 16px;
	text-align: center;
}

.img_caption_multi
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	text-align: center;
}

.header_left
{
	width: 40%;
	float: left;
}

.header_right
{
	width: 40%;
	float: right;
	margin-right: 5%;
	margin-top: 12px;
}

.header_text
{
	font-size: 22px;
	color: #0FACEF;
	padding-top: 10px;
	letter-spacing: 5px;
	margin-left: 20px;
}

.header_link
{
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	margin-right: 40px;
	display: inline;
	float: right;
}

.header_link:hover
{
	font-size: 18px;
	font-weight: bold;
	color: #0FACEF;
	text-decoration: none;
	margin-right: 40px;
	display: inline;
	float: right;
}

.header_link_current
{
	font-size: 18px;
	font-weight: bold;
	color: #0FACEF;
	text-decoration: none;
	margin-right: 40px;
	display: inline;
	float: right;
}

.box_inner
{
	width: 97.5%;
	margin: auto;
	margin-top: 11px;
	margin-bottom: 11px;
	background-color: #FFF;
	border: 1px #808080 solid;
}

.box_outer
{
	width: 90%;
	border: 1px #808080 solid;
	background-color: #D7D7D7;
	margin: auto;
	margin-top: 30px;
}

.inner_text
{
	text-indent: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.inner_sub_text
{
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.list_text
{
	text-indent: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.list_text_a
{
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.list_text_b
{
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.list_text_c
{
	text-indent: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.inner_text_large
{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 18px;
	padding: 4px;
	display: block;
	background-color: #D0D0D0;
	color: #0996E7;
}

.inner_text_sub
{
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.center_headline
{
	height: 32px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 5px;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 0px;
	color: #0FACEF;
}

.headline_underline
{
	width: 250px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 7px;
	color: #0FACEF;
	position: relative;
	top: -10px;
}

.highlight_gray
{
	border-style: dotted;
	border-color: #000000;
	border-width: 2px;
	background-color: #D0D0D0;
	padding: 3px;
}

.highlight_med_gray
{
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	background-color: #D0D0D0;
	padding: 3px;
}

.highlight_hor_gray
{
	background-color: #D0D0D0;
	padding-left: 3px;
	padding-right: 3px;
}

.code
{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px #808080 solid;
	background-color: #D0D0D0;
	padding: 5px;
}

.game_title
{
	  font-style: italic;
}
